Flask==2.0.3
Flask-SQLAlchemy==2.5.1
Flask-Login==0.5.0
SQLAlchemy==1.4.41
Werkzeug==2.0.3
Jinja2==3.0.3
itsdangerous==2.0.1
click==8.0.3
Flask-WTF==0.15.1  # Ajout de la dépendance Flask-WTF
WTForms==2.3.3  # Ajout de la dépendance WTForms
